<strong>Olá, {{ student }}</strong>
<p>Uma pergunta foi respondida confira abaixo:</p>
<p>
    <strong>Pergunta: </strong> {{ question }} <br/>
    <strong>Resposta: </strong> {{ answer }} <br/>
    <br/>
    <small>
        Espero ter respondido a sua duvida, precisando entre em contato novamente.
    </small>
</p>
